body {
    margin: 0;
  }
  .sect {
    width: 150%;
    min-height: 500px;
  }
  #sect1,
  #sect3 {
    background-color: #3333337d;
    color: #fff;
  }
  #sect2 {
    background-color: #dddddd7d;
    color: #333;
  }
  video {
    position: fixed;
    left: 0;
    top: 0;
    height:150%;
    z-index: -1;
  }
  h1 {
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
  }
  h2 {
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
  }

  p, h1, font, li, footer{
    color:#fff
  }